{% extends "AdminDash.html" %}
{% load static %}
{% block m1 %}
<h1>Add Installment</h1>
{% if data %}
    {% for d in data %}
        <form method="post" action="http://127.0.0.1:8000/studentinstallmentadd1/">
            {% csrf_token %}
            <h3>Fees for {{d.crname}}</h3>
            <p>Enter Installment Amount<input type="text" name="t1"/></p>
            <p>Submission Date<input type="text" name="t2"/></p>
            <p>Remark <input type="text" name="t3"/></p>
            <input type="hidden" name="A1" value="{{d.stid}}"/>
            <input type="hidden" name="A2" value="{{d.st_crid}}"/>
            <button type="submit" >Add Installment</button>
        </form>
    {% endfor %}
    {% elif msg %}
        <h3>{{msg}}</h3>
        <a href="http://127.0.0.1:8000/allstudentsAD/">BACK</a>
{% endif %}
{% endblock %}