{% extends "AccountantDash.html" %}
{% load static %}
{% block m1 %}
<h1>Upload Photo</h1>
{% if data %}
{% for d in data %}
<form method="post" action="http://127.0.0.1:8000/studentdeletephoto1/" enctype="multipart/form-data">
    {% csrf_token %}
    <p>OLD PROFILE PHOTO
        <input src="../media/{{d.photo}}" type="image" width="100" height="100" />
        <input type="hidden" width="100" height="100" name="IMG1" value="{{d.photo}}" />
        <input type="hidden" name="E1" value="{{d.email}}" />
    </p>
    <button type="submit">Delete</button>
</form>
{% endfor %}
{% endif %}
{% endblock %}