{% extends "AdminDash.html" %}
{% load static %}
{% block m1 %}
<h1>Edit Installment</h1>
{% if data %}
    {% for d in data %}
        <form method="post" action="http://127.0.0.1:8000/editstudentinstdata1/">
            {% csrf_token %}
            <p>Transection ID<input type="text" readonly name="T1" value="{{d.tid}}" /> </p>
            <p>Installment Amount<input type="text" name="T2" value="{{d.inst}}" /> </p>
            <p>Payment Date<input type="text" name="T3" value="{{d.sub_date}}" /> </p>
            <p>Remark<input type="text" name="T4" value="{{d.remark}}" /> </p>
            <button type="submit">Edit Transection</button>
        </form>
    {% endfor %}
{% elif msg %}
    <h4>{{msg}}</h4>
    <p><a href="http://127.0.0.1:8000/allstudentsAD/">See Changes</a></p>
{% endif %}
{% endblock %}